<div class="container page-container" @pageAnimation="true">Page 1<div>

<div class="col-xs-4">
    <app-ani-dsl-test [imgUrl]='imgUrl'></app-ani-dsl-test>
</div>

<div class="col-xs-4">
    <app-ani-dsl-test [imgUrl]='imgUrl'></app-ani-dsl-test>
</div>

<div class="col-xs-4">
    <app-ani-dsl-test [imgUrl]='imgUrl'></app-ani-dsl-test>
</div>
