<header>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a routerLink="page1">Page 1</a>
                </li>
                <li>
                    <a routerLink="page2">Page 2</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>

<div class="main-content">
    <router-outlet></router-outlet>
</div>







