<div class="container page-container" @pageAnimation="true">
Page 2    
<div>


<div class="col-xs-4">
    <app-page2-sub></app-page2-sub>
</div>

<div class="col-xs-4">
    <app-page2-sub></app-page2-sub>
</div>

<div class="col-xs-4">
    <app-page2-sub></app-page2-sub>
</div>
