
.img-container {
      background-color: white;
      width: 100%;
      height: 100%;
      /*text-align: center;
      line-height: 100px;
      font-size: 50px;
      box-sizing: border-box;
      overflow: hidden;*/
    }
