

<button (click)="toggleImg()">{{ prompt }}</button>

<div class="container img-container" 
    (mouseenter)="hoverImg(true)" 
    (mouseleave)="hoverImg(false)"
    @openCloseImg="openCloseImgState" 
    @hoverImg="hoverImgState">
       <img src="{{ imgUrl }}" class="img-responsive center-block" />
</div>

